<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.altadigital.costumediy"
        version="1.0.0">
    <name>Costume DIY</name>
    <description>Out of fancy dress costume ideas? Tired of paying the earth for an off-the-shelf outfit? Find yourself
        a fancy dress costume - the easy way!
    </description>
    <author href="https://www.altadigital.co.uk" email="john@altadigital.co.uk">Alta Digital</author>

    <preference name="orientation" value="portrait"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="false"/>

    <!-- Default - this needs to be in the root directory -->
    <icon src="icon.png"/>

    <!-- iOS -->
    <icon src="images/icons/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
    <icon src="images/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="images/icons/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="images/icons/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
    <gap:splash src="images/icons/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="images/icons/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="images/icons/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>

    <!-- Android -->
    <icon src="images/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi"/>
    <icon src="images/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi"/>
    <icon src="images/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi"/>
    <icon src="images/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi"/>
</widget>